:root {
  /*========== Colors ==========*/
  --hue-color: 45;

  --first-color: hsl(var(--hue-color), 69%, 61%);
}

.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid var(--first-color);
  cursor: pointer;

  display: flex;

  div {
    background: var(--first-color);
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 245px;
    font-size: 14px;
    font-weight: 500;
  }
}
